
body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 94vh;
    gap: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

.box{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img{
    width: 100%;
    margin: 10px;
}

@media(max-width:600px){

    main{
        margin-top: 30px;
    }
    
    p{
        display: none;
    }
    .box{
        margin: 40px;
    }
    .box1{
        margin: 20px;
    }
}